body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova';
	overflow: hidden;
}

.mainSection {
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	background-color: #141315;
	background-image: url(Materials/BG.jpg);

}


.centeredObject {
	margin-top: auto;
	margin-bottom: auto;

	position: relative;
	z-index: 1;
}

.centeredObject .lines {
	display: flex;
	justify-content: center;
	
}





.centeredObject .lines span.sector {
	width: 2px;
	height: 476px;

	background-color: #414143;

	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
}

.centeredObject .lines span.sector:nth-child(2) {
	margin-right: 97px;
	margin-left: 97px;
}

.centeredObject .lines span.sector b.dot { /*balls*/
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 10px;

	background-color: #ffffff;
}

.centeredObject .lines span.sector:nth-child(1) b.dot {
	top: 140px;
}

.centeredObject .lines span.sector:nth-child(2) b.dot {
	top: 450px;
}

.centeredObject .lines span.sector:nth-child(3) b.dot {
	top: 350px;
}

/*animation*/

/*#1*/

@keyframes dot_1 {
	from { transform: translateY(-110px); }
	50% { transform: translateY(0px); }
	to { transform: translateY(-110px); }
}

.dot_1 {
	animation: dot_1 5s ease-in-out infinite;
}

/*#2*/

@keyframes dot_2 {
	from { transform: translateY(-110px); }
	50% { transform: translateY(0px); }
	to { transform: translateY(-110px); }
}

.dot_2 {
	animation: dot_2 9s ease-in-out infinite;
}

/*#3*/

@keyframes dot_3 {
	from { transform: translateY(100px); }
	50% { transform: translateY(0px); }
	to { transform: translateY(100px); }
}

.dot_3 {
	animation: dot_3 7s ease-in-out infinite;
}

/*//animation*/



/*Text*/


.centeredObject .lines span.sector i.text {
	margin: 0;
	padding: 0;

	font-family: 'Proxima Nova';
	font-style: normal;
	color: white;
	font-weight: 700;
	font-size: 103px;

	transition: 0.3s all;
	cursor: default;
}

.mainSection .text:nth-child(2) {
	margin-left: 19px;
	margin-right: 14px;
} 

.centeredObject .lines span.sector .text.transform {
	-moz-transform: scale(1,-1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}

.mainSection .text:nth-child(2):hover {
	text-shadow: 0 0 27px rgba(255, 255, 255, 0.5);
} 

span.sector i.text::selection {
   background: transparent;
}
span.sector i.text::-moz-selection {
   background: transparent;
}


/*actionDimly*/

.sector {
	transition: 0.7s all;
	opacity: 0.9;
}

.sector_1-active,
.sector_2-active,
.sector_3-active {
	opacity: 0.5;
}

.sector_1-active-notSo,
.sector_2-active-notSo,
.sector_3-active-notSo {
	opacity: 0.25;
}

/*//actionDimly*/


/*action*/

.underText span {
	transition: 0.5s;
	cursor: default;
}

.underText_1,
.underText_2,
.underText_3 {
	opacity: 0;
}

.underText_1-active,
.underText_2-active,
.underText_3-active {
	opacity: 1;
}

/*#shaking*/

@keyframes underText_1 {
  2% {
    transform: translate(3px, -1px) rotate(-0.5deg); }
  4% {
    transform: translate(0px, -8px) rotate(-0.5deg); }
  6% {
    transform: translate(6px, 10px) rotate(-0.5deg); }
  8% {
    transform: translate(10px, -4px) rotate(1.5deg); }
  10% {
    transform: translate(-6px, 9px) rotate(-0.5deg); }
  12% {
    transform: translate(5px, 2px) rotate(-1.5deg); }
  14% {
    transform: translate(-2px, 6px) rotate(0.5deg); }
  16% {
    transform: translate(-1px, -2px) rotate(-2.5deg); }
  18% {
    transform: translate(4px, 9px) rotate(3.5deg); }
  20% {
    transform: translate(6px, 7px) rotate(-0.5deg); }
  22% {
    transform: translate(9px, -4px) rotate(-0.5deg); }
  24% {
    transform: translate(10px, 8px) rotate(-1.5deg); }
  26% {
    transform: translate(-2px, 0px) rotate(2.5deg); }
  28% {
    transform: translate(7px, -7px) rotate(2.5deg); }
  30% {
    transform: translate(1px, 0px) rotate(-1.5deg); }
  32% {
    transform: translate(-6px, -2px) rotate(2.5deg); }
  34% {
    transform: translate(1px, -4px) rotate(-0.5deg); }
  36% {
    transform: translate(1px, 7px) rotate(0.5deg); }
  38% {
    transform: translate(6px, -9px) rotate(0.5deg); }
  40% {
    transform: translate(-5px, -3px) rotate(-1.5deg); }
  42% {
    transform: translate(0px, -6px) rotate(-2.5deg); }
  44% {
    transform: translate(7px, 10px) rotate(1.5deg); }
  46% {
    transform: translate(6px, -4px) rotate(2.5deg); }
  48% {
    transform: translate(-4px, -6px) rotate(-0.5deg); }
  50% {
    transform: translate(3px, -4px) rotate(0.5deg); }
  52% {
    transform: translate(7px, 2px) rotate(2.5deg); }
  54% {
    transform: translate(7px, 4px) rotate(-2.5deg); }
  56% {
    transform: translate(9px, 1px) rotate(-2.5deg); }
  58% {
    transform: translate(-3px, -7px) rotate(2.5deg); }
  60% {
    transform: translate(6px, 3px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 4px) rotate(-0.5deg); }
  64% {
    transform: translate(10px, 4px) rotate(-0.5deg); }
  66% {
    transform: translate(8px, -7px) rotate(2.5deg); }
  68% {
    transform: translate(-3px, -6px) rotate(0.5deg); }
  70% {
    transform: translate(-7px, -4px) rotate(1.5deg); }
  72% {
    transform: translate(10px, 6px) rotate(1.5deg); }
  74% {
    transform: translate(3px, 9px) rotate(1.5deg); }
  76% {
    transform: translate(-6px, 5px) rotate(-2.5deg); }
  78% {
    transform: translate(4px, 5px) rotate(0.5deg); }
  80% {
    transform: translate(-8px, 3px) rotate(3.5deg); }
  82% {
    transform: translate(3px, -2px) rotate(2.5deg); }
  84% {
    transform: translate(7px, 10px) rotate(-0.5deg); }
  86% {
    transform: translate(5px, -6px) rotate(-0.5deg); }
  88% {
    transform: translate(-8px, -5px) rotate(0.5deg); }
  90% {
    transform: translate(3px, -9px) rotate(-0.5deg); }
  92% {
    transform: translate(8px, 8px) rotate(-0.5deg); }
  94% {
    transform: translate(-6px, -7px) rotate(2.5deg); }
  96% {
    transform: translate(-6px, 5px) rotate(0.5deg); }
  98% {
    transform: translate(5px, -7px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.underText_1 {
  animation-name: underText_1;
  animation-duration: 100s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes underText_2 {
  2% {
    transform: translate(3px, -1px) rotate(-0.5deg); }
  4% {
    transform: translate(0px, -8px) rotate(-0.5deg); }
  6% {
    transform: translate(6px, 10px) rotate(-0.5deg); }
  8% {
    transform: translate(10px, -4px) rotate(1.5deg); }
  10% {
    transform: translate(-6px, 9px) rotate(-0.5deg); }
  12% {
    transform: translate(5px, 2px) rotate(-1.5deg); }
  14% {
    transform: translate(-2px, 6px) rotate(0.5deg); }
  16% {
    transform: translate(-1px, -2px) rotate(-2.5deg); }
  18% {
    transform: translate(4px, 9px) rotate(3.5deg); }
  20% {
    transform: translate(6px, 7px) rotate(-0.5deg); }
  22% {
    transform: translate(9px, -4px) rotate(-0.5deg); }
  24% {
    transform: translate(10px, 8px) rotate(-1.5deg); }
  26% {
    transform: translate(-2px, 0px) rotate(2.5deg); }
  28% {
    transform: translate(7px, -7px) rotate(2.5deg); }
  30% {
    transform: translate(1px, 0px) rotate(-1.5deg); }
  32% {
    transform: translate(-6px, -2px) rotate(2.5deg); }
  34% {
    transform: translate(1px, -4px) rotate(-0.5deg); }
  36% {
    transform: translate(1px, 7px) rotate(0.5deg); }
  38% {
    transform: translate(6px, -9px) rotate(0.5deg); }
  40% {
    transform: translate(-5px, -3px) rotate(-1.5deg); }
  42% {
    transform: translate(0px, -6px) rotate(-2.5deg); }
  44% {
    transform: translate(7px, 10px) rotate(1.5deg); }
  46% {
    transform: translate(6px, -4px) rotate(2.5deg); }
  48% {
    transform: translate(-4px, -6px) rotate(-0.5deg); }
  50% {
    transform: translate(3px, -4px) rotate(0.5deg); }
  52% {
    transform: translate(7px, 2px) rotate(2.5deg); }
  54% {
    transform: translate(7px, 4px) rotate(-2.5deg); }
  56% {
    transform: translate(9px, 1px) rotate(-2.5deg); }
  58% {
    transform: translate(-3px, -7px) rotate(2.5deg); }
  60% {
    transform: translate(6px, 3px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 4px) rotate(-0.5deg); }
  64% {
    transform: translate(10px, 4px) rotate(-0.5deg); }
  66% {
    transform: translate(8px, -7px) rotate(2.5deg); }
  68% {
    transform: translate(-3px, -6px) rotate(0.5deg); }
  70% {
    transform: translate(-7px, -4px) rotate(1.5deg); }
  72% {
    transform: translate(10px, 6px) rotate(1.5deg); }
  74% {
    transform: translate(3px, 9px) rotate(1.5deg); }
  76% {
    transform: translate(-6px, 5px) rotate(-2.5deg); }
  78% {
    transform: translate(4px, 5px) rotate(0.5deg); }
  80% {
    transform: translate(-8px, 3px) rotate(3.5deg); }
  82% {
    transform: translate(3px, -2px) rotate(2.5deg); }
  84% {
    transform: translate(7px, 10px) rotate(-0.5deg); }
  86% {
    transform: translate(5px, -6px) rotate(-0.5deg); }
  88% {
    transform: translate(-8px, -5px) rotate(0.5deg); }
  90% {
    transform: translate(3px, -9px) rotate(-0.5deg); }
  92% {
    transform: translate(8px, 8px) rotate(-0.5deg); }
  94% {
    transform: translate(-6px, -7px) rotate(2.5deg); }
  96% {
    transform: translate(-6px, 5px) rotate(0.5deg); }
  98% {
    transform: translate(5px, -7px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.underText_2 {
  animation-name: underText_2;
  animation-duration: 120s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes underText_3 {
  2% {
    transform: translate(3px, -1px) rotate(-0.5deg); }
  4% {
    transform: translate(0px, -8px) rotate(-0.5deg); }
  6% {
    transform: translate(6px, 10px) rotate(-0.5deg); }
  8% {
    transform: translate(10px, -4px) rotate(1.5deg); }
  10% {
    transform: translate(-6px, 9px) rotate(-0.5deg); }
  12% {
    transform: translate(5px, 2px) rotate(-1.5deg); }
  14% {
    transform: translate(-2px, 6px) rotate(0.5deg); }
  16% {
    transform: translate(-1px, -2px) rotate(-2.5deg); }
  18% {
    transform: translate(4px, 9px) rotate(3.5deg); }
  20% {
    transform: translate(6px, 7px) rotate(-0.5deg); }
  22% {
    transform: translate(9px, -4px) rotate(-0.5deg); }
  24% {
    transform: translate(10px, 8px) rotate(-1.5deg); }
  26% {
    transform: translate(-2px, 0px) rotate(2.5deg); }
  28% {
    transform: translate(7px, -7px) rotate(2.5deg); }
  30% {
    transform: translate(1px, 0px) rotate(-1.5deg); }
  32% {
    transform: translate(-6px, -2px) rotate(2.5deg); }
  34% {
    transform: translate(1px, -4px) rotate(-0.5deg); }
  36% {
    transform: translate(1px, 7px) rotate(0.5deg); }
  38% {
    transform: translate(6px, -9px) rotate(0.5deg); }
  40% {
    transform: translate(-5px, -3px) rotate(-1.5deg); }
  42% {
    transform: translate(0px, -6px) rotate(-2.5deg); }
  44% {
    transform: translate(7px, 10px) rotate(1.5deg); }
  46% {
    transform: translate(6px, -4px) rotate(2.5deg); }
  48% {
    transform: translate(-4px, -6px) rotate(-0.5deg); }
  50% {
    transform: translate(3px, -4px) rotate(0.5deg); }
  52% {
    transform: translate(7px, 2px) rotate(2.5deg); }
  54% {
    transform: translate(7px, 4px) rotate(-2.5deg); }
  56% {
    transform: translate(9px, 1px) rotate(-2.5deg); }
  58% {
    transform: translate(-3px, -7px) rotate(2.5deg); }
  60% {
    transform: translate(6px, 3px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 4px) rotate(-0.5deg); }
  64% {
    transform: translate(10px, 4px) rotate(-0.5deg); }
  66% {
    transform: translate(8px, -7px) rotate(2.5deg); }
  68% {
    transform: translate(-3px, -6px) rotate(0.5deg); }
  70% {
    transform: translate(-7px, -4px) rotate(1.5deg); }
  72% {
    transform: translate(10px, 6px) rotate(1.5deg); }
  74% {
    transform: translate(3px, 9px) rotate(1.5deg); }
  76% {
    transform: translate(-6px, 5px) rotate(-2.5deg); }
  78% {
    transform: translate(4px, 5px) rotate(0.5deg); }
  80% {
    transform: translate(-8px, 3px) rotate(3.5deg); }
  82% {
    transform: translate(3px, -2px) rotate(2.5deg); }
  84% {
    transform: translate(7px, 10px) rotate(-0.5deg); }
  86% {
    transform: translate(5px, -6px) rotate(-0.5deg); }
  88% {
    transform: translate(-8px, -5px) rotate(0.5deg); }
  90% {
    transform: translate(3px, -9px) rotate(-0.5deg); }
  92% {
    transform: translate(8px, 8px) rotate(-0.5deg); }
  94% {
    transform: translate(-6px, -7px) rotate(2.5deg); }
  96% {
    transform: translate(-6px, 5px) rotate(0.5deg); }
  98% {
    transform: translate(5px, -7px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.underText_3 {
  animation-name: underText_3;
  animation-duration: 110s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

/*//action*/



/*underText*/

.lines .underText {
	display: flex;
	position: absolute;
	top: 62%;
}

.lines .underText span {
	text-shadow: 0 0 27px rgba(255, 255, 255, 0.4);
	color: #747474;
	font-style: normal;
	font-family: "Proxima Nova Scosfthin";
	font-size: 33px;
	font-weight: 400;
}

.lines .underText span:nth-child(1), 
.lines .underText span:nth-child(2) {
	margin-right: 20px;
}

.lines .underText span b {
	font-weight: normal;
	color: #9f9f9f;
}
.lines .underText span::selection,
.lines .underText span b::selection {
   background: transparent;
}
.lines .underText span::-moz-selection,
.lines .underText span b::-moz-selection {
   background: transparent;
}

/*//underText*/

/*//Text*/



/*bottom text*/

.bottomText {
	display: flex;
	justify-content: center;

	font-family: "Proxima Nova Regular";
	font-size: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #ffffff;

	margin-bottom: 65px;


}

.bottomText .dimlyText {
	color: #333334;

	cursor: default;
}

.bottomText .brightText {
	margin-left: 8px;
	color: #646466;
	text-decoration: none;

	cursor: pointer;
}



.bottomText .brightText {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 0.6s;
    
    
}

.bottomText .brightText:before {
    content: "";
    width: 0;
    height: 1.5px;
    position: absolute;
    bottom: 4px;
    left: 105%;
    background: #646466;
    transition: all 0.5s;
}

.bottomText .brightText:hover:before {
    width: 110%;
    left: -5%;
    background: #646466;
    text-shadow: 0 0 27px rgba(255, 255, 255, 0.2);
        
}

.bottomText .brightText:hover {
	text-shadow: 0 0 27px rgba(255, 255, 255, 0.2);
}



.bottomText .guitarIcon {
	background-image: url(Materials/SVG/GuitarIcon.svg);
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;

	-moz-transform: rotate(-10deg); /* Для Firefox */
    -ms-transform: rotate(-10deg); /* Для IE */
    -webkit-transform: rotate(-10deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-10deg); /* Для Opera */
    transform: rotate(-10deg);

	margin-left: 11px;
}

/*//bottom text*/